$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "override.scss";
@import "var.scss";

/* Put your CSS here */
body, html {
    height: 100%;
    background-color: black;
    color: white;
}

#intro > ul {
    font-weight: normal;
    font-size: large;
}

#intro > ul > li > p {
    font-weight: lighter;
    font-style: italic;
    font-size: small;
}

