/////////////////////////////////////
//
//  Override bootstrap's Variables
//  
//  must be included before bootstrap
//
$input-bg:                  #EEE;
$input-bg-disabled:         #AAA;

$dropdown-bg:               #444;
$dropdown-divider-bg:       #888;
$dropdown-link-color:       #FFF;
$dropdown-link-hover-color: #444;

$modal-content-bg:          #555;
