<div class="modal-body">
  <form role="form">
    <input type="text" class="form-control" placeholder="title" ng-model="topic.title">
    <hr>
    <input
      type="text"
      class="form-control"
      placeholder="tags..."
      ng-model="topic.tag_selected"
      typeahead-loading="is_loading_setter"
      typeahead-wait-ms="10"
      typeahead-input-formatter="formatter($model)"
      typeahead="n for n in get_tag_suggestion($viewValue) | filter:$viewValue | limitTo:4"
    ></input>
    <hr>
    <textarea class="form-control" placeholder="more details..." ng-model="topic.desc"></textarea>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
</div>

