<div class="col-lg-2"></div>
<div class="col-lg-8 pad">
  <form ng-controller="ctrl_topic_search" ng-submit="search_title()">
    <div class="form-group">
      <label><h4>Search topics to join the global discussion.</h4></label>
      <input type="text" class="form-control" autocomplete="off" ng-model="search.keyword">
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-login" value="Search">
      <input type="submit" class="btn btn-login" value="Cherry Pick">
    </div>
  </form>
</div>
<div class="col-lg-2"></div>

