<div class="row content"><div class="col-lg-12">
  <br><br><h1>Sign Up</h1>
  <hr>
</div></div>
<div class="row content"><div class="col-lg-12">
  <form id="sign_up" name="sign_up" class="dev op-col-12 form" ng-controller="ctrl_auth_sign_up" ng-submit="submit_user()">
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" class="form-control" placeholder="Email address" ng-model="email" ng-blur="validate()" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input name="login_psswd" type="password" class="form-control" placeholder="Your Password" ng-model="login_psswd">
    </div>
    <div class="form-group">
      <div class="btn-group">
        <label>Gender</label>
        <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
          {{ genders[gender_sel] }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="gender in genders.slice(1)">
            <a ng-click="select_gender($index+1)">{{ gender }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group" ng-controller="ctrl_common_country">
      <label>Country</label>
      <input type="text" class="form-control" ng-model="country_name" typeahead="n for n in name_list | filter:$viewValue | limitTo:4">
    </div>
    <div class="form-group">
      <label>B-Day</label>
      <input type="date" value="Birthday" class="form-control" placeholder="Birthday" ng-model="bday" ng-blur="validate()" required>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <input type="submit" value="Sign Up" class="btn btn-login form-control" ng-disabled="!sign_up.$valid">
      </div>
      <div class="col-lg-9 warning-box">
        <p>
          <span ng-show="sign_up.email.$error.required">Email Required, </span>
          <span ng-show="sign_up.email.$error.email">Not a valid email, </span>
          <span ng-show="show_password_warning">Password is weak, </span>
          <span ng-show="submit_failed">{{ err_msg }}</span>
        </p>
      </div>
    </div>
  </form>
</div></div>
